<p id="notice"><%= notice %></p>

<h1>Listing Promo Codes</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Code</th>
      <th>Discount</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promo_codes.each do |promo_code| %>
      <tr>
        <td><%= promo_code.start_date %></td>
        <td><%= promo_code.end_date %></td>
        <td><%= promo_code.code %></td>
        <td><%= promo_code.discount %></td>
        <td><%= promo_code.description %></td>
        <td><%= promo_code.category.name %></td>
        <td><%= link_to 'Show', promo_code %></td>
        <td><%= link_to 'Edit', edit_promo_code_path(promo_code) %></td>
        <td><%= link_to 'Destroy', promo_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Cancel', cancel_promotion_path(promo_code), method: :patch, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo code', new_promo_code_path %>
